@font-face {
    font-family: "Baskerville";
    src: url("OnlineWebFonts_COM_bb4a1f636326755327542a1c76c930f0/@font-face/5770baa7788e08e9b8cf0195faa46e00.ttf");
}

body {
    background-color: rgba(200, 200, 200, 255);
    width: 1020px;
    margin-left: 50%;
    position: relative;
    transform: translateX(-50%);
    font-family: Arial, sans-serif;
}

h1 {
    height: 50px;
    font-family: Baskerville;
    text-align: center;
    font-size: 75px;
}

h2 {
    height: 50px;
    font-size: 35px;
    font-family: Baskerville;
    color: #cf0125;
}

.para {
    height: 35px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
}

tr:nth-of-type(2n+1) {
    background-color: rgba(221, 221, 221, 255);
}

tr:hover {
    background-color: #999999;
    cursor: pointer;
}

th {
    background-color: rgba(51, 51, 51, 255);
    color: white;
    cursor: inherit;
}

figure {
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
    margin: 0 30px;
}

#divImg {
    border: 3px solid red;
    border-radius: 15px;
    text-align: center;
    background-color: #333333;
}

a {
    color: rgba(206, 14, 48, 255);
}

p {
    text-align: left;
}

#paraph, pre {
    border: 3px dashed darkslateblue;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(183, 183, 183, 255);
    margin-right: 30px;
    margin-left: 30px;
    color: #5d52af;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
}

table {
    max-height: auto;
}

pre {
    font-size: inherit;
}